# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache, Compiled & Testing
**/__pycache__/
*.py[cod]
*$py.class
**/.pytest_cache/
.ipynb_checkpoints/

# Local Environment Configurations
.env
.env.local
.env.*.local

# Machine Learning / MLflow tracking
**/mlruns/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend dependencies & build output
**/node_modules/
**/dist/

# =========================================================================
# On process
# =========================================================================
docs/

