# Application Configuration Settings
APP_NAME="ObeSight API"
DEBUG=true
HOST=127.0.0.1
PORT=8000

# Path to the serialized Machine Learning model pipeline (.pkl)
MODEL_PATH="../ml/models/best_model_pipeline.pkl"

# Allowed CORS Origins (Specify allowed frontend client domains)
# Must be structured as a JSON array or a comma-separated list
ALLOWED_ORIGINS=["http://localhost:5173"]
